https://www.kaggle.com/tejashvi14/employee-future-prediction?select=Employee.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Employee.csv')

In [3]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [18]:
df[df.Education=="PHD"].PaymentTier.value_counts()

3    145
2     20
1     14
Name: PaymentTier, dtype: int64

In [20]:
df[df.LeaveOrNot==1].ExperienceInCurrentDomain.value_counts()

2    399
3    299
4    297
5    288
1    188
0    124
7      3
6      2
Name: ExperienceInCurrentDomain, dtype: int64

In [24]:
df[df.EverBenched=="Yes"].LeaveOrNot.value_counts()

0    261
1    217
Name: LeaveOrNot, dtype: int64

In [25]:
df[df.PaymentTier==1].LeaveOrNot.value_counts()

0    154
1     89
Name: LeaveOrNot, dtype: int64